# Visual Studio, VsCode and Rider gitignore file

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
bin/
obj/
*.log

# VS Code
.vscode/

# Rider
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
TestResults/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
HOSUnlock/appsettings.json
